In [4]:
print('babu "anurag"')

babu "anurag"

In [5]:
print('''Abhinav is very talented guy
     and he is also very smart''')

Abhinav is very talented guy
     and he is also very smart

In [7]:
print('''Abhinav is very talented guy
     and he is also very smart''')

Abhinav is very talented guy
     and he is also very smart

In [9]:
def abc(*arg):
    r=0
    for i in arg:
        r=r+i
        return r
a=int(input("a"))
b=int(input("b"))
c=int(input("c"))
d=int(input("d"))
print(abc(a+b+c+d))

print(abc(a+b+c))
print(abc(a+b))

a 1
b 2
c 3
d 4

10
6
3

In [12]:
tax=lambda salary: salary*20/100
salary=int(input("input salary: "))
print(tax(salary))

input salary:  100000

20000.0

In [13]:
tax = lambda salary :salary*20/100
salary=int(input("input salary"))
print(tax(salary))

input salary 100

20.0

In [1]:
a=int(input("enter a number: "))
b=int(input("enter a number: "))

print(a*b for i in in [1,2,3,4,5] if a%6==0)

SyntaxError: invalid syntax (701752113.py, line 4)

In [2]:
a=int(input("enter a number: "))
b=int(input("enter a number: "))

print(i for i in in [1,2,3,4,5] if a%6==0)

SyntaxError: invalid syntax (430549028.py, line 4)

In [3]:
a=int(input("enter a number: "))
b=int(input("enter a number: "))

print([a*b for i in in range(a,b) if a%6==0])

SyntaxError: invalid syntax (2374696194.py, line 4)

In [4]:
a=int(input("enter a number: "))
b=int(input("enter a number: "))

print([i for i in range(0,50) if a%6==0])

enter a number:  12
enter a number:  12

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [5]:
print([i for i in range(0,50) if a%6==0])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [7]:
print([i for i in range(0,50) if i%6==0]

SyntaxError: incomplete input (595091729.py, line 1)

In [10]:
print([a for a in [1,2,3,4,5,6] for b in [6,8,3,10] if a==b ])

[3, 6]

In [13]:
a=int(input("enter a number"))
b=int(input("enter range"))
print([a*i for i in range(0,11) if a*i!=42])

enter a number 12
enter range 12

[0, 12, 24, 36, 48, 60, 72, 84, 96, 108, 120]

In [14]:
a=7
print([a*i for i in range(0,11) if a*i!=42])

[0, 7, 14, 21, 28, 35, 49, 56, 63, 70]

In [18]:
a=7
b=([a*i for i in range(0,11) if a*i!=42]) 
print(b)
print(sorted(b))
print(sorted(b,reverse=True))

[0, 7, 14, 21, 28, 35, 49, 56, 63, 70]
[0, 7, 14, 21, 28, 35, 49, 56, 63, 70]
[70, 63, 56, 49, 35, 28, 21, 14, 7, 0]

## a=int(input("enter a number: "))
b=int(input("enter a range : "))
print([a*i for i in range(1,b)])

In [25]:
list1=[int(x) for x in input("data: ").split(" ")]
print(list1)

data:  12,34,54

ValueError: invalid literal for int() with base 10: '12,34,54'

In [26]:
list1=[x for x in input("data:").split(' ')]
print(list1)

data: 12,32,21

['12,32,21']

In [ ]:
dict={key:value for key,value in enumerate(list1)}
print(dict1)

In [31]:
list1=[10,20,30,40,50]
list2=["anil","ram","shyam","ghanshyam","rahul"]
dict1={list2:list1 for list2,list1 in zip(list2,list1)}
print(dict1)

{'anil': 10, 'ram': 20, 'shyam': 30, 'ghanshyam': 40, 'rahul': 50}

In [33]:
import string
alphabet = list(string.ascii_lowercase)
print(alphabet)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [41]:
import string
alpha = list(string.ascii_uppercase)


num = []
for i in range(65, 91):
    num.append((i))

    
dict1={num:alpha for num,alpha in zip(num,alpha)}
print(dict1)

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z'}

In [48]:
import string
alpha = list(string.ascii_uppercase)


num = []
for i in range(65, 91):
    num.append((i))

In [57]:
for i in range(65,91):
    print("({} ,{})".format(i,chr(i)),end=(','))

(65 ,A),(66 ,B),(67 ,C),(68 ,D),(69 ,E),(70 ,F),(71 ,G),(72 ,H),(73 ,I),(74 ,J),(75 ,K),(76 ,L),(77 ,M),(78 ,N),(79 ,O),(80 ,P),(81 ,Q),(82 ,R),(83 ,S),(84 ,T),(85 ,U),(86 ,V),(87 ,W),(88 ,X),(89 ,Y),(90 ,Z),

In [60]:
dict1={chr(key):key for chr(key),key for key in range (65:91)}
print(dict1)

SyntaxError: cannot assign to function call (3318175755.py, line 1)

In [6]:
class car():

    def __inti__(self, name , color):
        self.name = name
        self.color = color
    def get_speed(self):
        print("top speed of "+self.name + "is 150km/hr ")
    # creating an instinct
    honda_city=car("honda city ","red")
    honda_civic=car("honda civic","white")
    
    honda_city.get_speed()

TypeError: car() takes no arguments

In [12]:
class Car():
    def __init__(self,name,color):
        self.name=name
        self.color=color
        
    def get_speed(self):
        print("name of car is "+self.name+" color is "+self.color)
honda_city=Car("honda city","red")
honda_city.get_speed()

name of car is honda city color is red

In [14]:
class student():
    def __init__(self,name,subject):
        self.name=name
        self.subject=subject
    def get_name(self):
        
        print("name of student is "+self.name+"and his subject is "+self.subject)
abhay=student("abhay","maths")
abhay.get_name()
rahul=student("rahul","")
rahul.get_name()

name of student is abhayand his subject is maths

In [5]:
a="abhay is good boy"
print(a[:])

abhay is good boy

In [6]:
print(a[:4])

abha

In [7]:
print(a[::-1])

yob doog si yahba

In [9]:
b="rahul"
print(b[::-1])

luhar

In [15]:
print(len(a))

17

In [22]:
v=0
while v<len(a):
    v+=1
print(v)

17

In [32]:
def abc(str):
    count = 0
    for i in str:
        count+=1
    return count

str="abhi mat bol"

print(abc(str))

12

In [29]:
def findLen(str):
    counter = 0   
    for i in str:
        counter += 1
    return counter
 
 
str = "geeks"
print(findLen(str))

5

In [34]:
def is_prime(n):
    if n in [2, 3]:
        return True
    if (n == 1) or (n % 2 == 0):
        return n*2
    r = 3
    while r * r <= n:
        if n % r == 0:
            return False
        r += 2
    return True
print(is_prime(78), is_prime(79))

156 True

In [ ]:
def abc():
    if n in [2,3]:
        return True
    if n==0 or n==1:
        return "no no noo"

In [46]:
a="qwert!@#123"
x=a.split()
b=[]
for i in len(x):
    if i.isnumeric():
        b.append(int(i))
print(str(b))

TypeError: 'int' object is not iterable

In [47]:
test_string = "There are 2 apples for 4 persons" 
# getting numbers from string
res = []
x=test_string.split()
for i in x:
    if i.isnumeric():
        res.append(int(i))
# print result
print("The numbers list is : " + str(res))

TypeError: 'str' object is not callable

In [49]:
c='1233'
print(c.isdigit())

True

In [70]:
c='abc'.split()
def abc():
    for i in c:
        if i.isalpha():
            print(i)

In [68]:
c = '123'
for i in c:
    if i.isdigit():
        print(i)

1
2
3

In [76]:
c = '123abc'
for index, char in enumerate(c):
    if char.isalpha():
        print(char,end="")

abc

In [80]:
c = "qwerty!@#power"
for i, char in enumerate(c):
    if char.isalpha():
        print(char,end="")

qwertypower

In [4]:
STR="programming need practice"
for i in str.split('e'):
    print(i,end='')

e

In [13]:
str="input"
def abc():
    for i in range(len(str)):
        print(str[:i+1],end='')
print("Hello",abc())

iininpinpuinputHello None

# OBJECT ORIENTED PROGRAMMING

In [7]:
class abc:
    pass

person1=abc()
a_2=abc()


person1.name='piyush'
person1.last='singh'
person1.pay='3000'
person1.email='corey.chase@gmail.com'

a_2.name='abhi'
a_2.last='test'
a_2.pay='2000'
a_2.email='abhi_test@gmail.com'

print(person1.name,person1.last)
print(a_2.last)

piyush singh
test

In [28]:
class employee:
    pass

a1=employee()
a2=employee()

a1.first="anil"
a1.last="singh"
a1.email="anilsingh@gmail.com"

a2.first="raju"
a2.last="singh"
a2.email="rajusingh@gmail.com"

print(f"{a1.first} is brother of {a2.first} and they gamil is {a1.email} and {a2.email} respectively")

anil is brother of raju and they gamil is anilsingh@gmail.com and rajusingh@gmail.com respectively

In [30]:
print(a1.first,a2.first)

anil raju

In [22]:
class car:
    
    def __init__(self,first,colo,net_worth):
        
        self.first=first
        self.co=colo
        self.net_worth=net_worth
        
b1=car("maruti","red",'billion')
b2=car("BMW","white",'billion')

print(b2.co +" " + "is good color")
print(f"{b2.co} is good color")

white is good color
white is good color

In [58]:
class employee:
    
    def __init__(self,fname,lname,pay):
        
        self.fname=fname
        self.lname=lname
        self.pay=pay
        self.email=fname+'.'+lname+'@gmail.com'
        
    def fullname(self):
            return ("{} {}".format(self.fname,self.lname))
        
emp1=employee('rahul','singh',3000)
emp2=employee('shyam','singh',20000)
    
print(emp1.fullname())

rahul singh

In [73]:
class abc:
    
    def __init__ (self,fname,lname,pay):
        
        self.fname=fname
        self.lname=lname
        self.pay=pay
    
    def fullname(self):
        return (f'{self.fname} {self.lname}')
    
    
emp3=abc('fname3','lname3',5000)
emp4=abc('fname4','lname4',4000)
    
print(emp4.fullname())

fname4 lname4

In [78]:
class abc:
    
    def __init__ (self,fname,lname,pay):
        
        self.fname=fname
        self.lname=lname
        self.pay=pay
    
    def fullname(self):
        return (f'{self.fname} {self.lname}')
    
    
emp3=abc('fname3','lname3',5000)
emp4=abc('fname4','lname4',4000)
    
    
    
    
    #calling with class
abc.fullname(emp3)

    #calling with instance
emp3.fullname()
    
    #calling using print 
print(emp4.fullname())

fname4 lname4

### working with class

In [39]:
#class variable are shared among all the instances  of class
#so while instances variable can be unique 

#class variable should be same 


class abcd:
    
    def __init__ (self,fname,lname,pay):
        
        self.fname=fname
        self.lname=lname
        self.pay=pay
        
    def fullname(self):
        return '{} {}'.format(self.fname,self.lname)
    
    def apply_rise(self):
        self.pay = int(self.pay * 1.04) 
        return self.pay
    
person1=abcd('abhay','sharma',50000)
person2=abcd('rahul','singh',60000)

#print(person1.pay)
# abcd.fullname(person1)
abcd.apply_rise(person1)
# person1.pay

52000

In [107]:


class abcd:
    
    raise_amount = 1.04
    
    def __init__ (self,fname,lname,pay):
        
        self.fname=fname
        self.lname=lname
        self.pay=pay
        
    def fullname(self):
        return '{} {}'.format(self.fname,self.lname)
    
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amount) #self(instence) ke jagah per class bhi use kar sakte hai  
    
person1=abcd('abhay','sharma',50000)
person2=abcd('rahul','singh',60000)

# if you want to raise amount for only person then 
person1.raise_amount=1.06
print(person1.__dict__)


print(person1.pay)
person1.apply_raise()
print(person1.pay)


abcd.raise_amount=1.05


print(abcd.raise_amount)
#way we can excess raise_amount

print(person1.raise_amount)
print(person2.raise_amount)


#print(abcd.__dict__)

{'fname': 'abhay', 'lname': 'sharma', 'pay': 50000, 'raise_amount': 1.06}
50000
53000
1.05
1.06
1.05

In [10]:


# COUNTING TOTAL NUMBER OF INSTANCE IN CLASS

class employee:
    
    num_of_emps = 0
    
    def __init__(self,fname,lname,pay):
        
        self.fname=fname
        self.lname=lname
        self.pay=pay
        
        employee.num_of_emps += 1
        
    def fullname(self):
        return '{fname} {lname}'.format(self.fname,self.lname)
    
emp_1=employee('name','last',5000)
emp_2=employee('name','last',4000)
emp_3=employee('name','last',3000)
    
print(employee.num_of_emps)

3

In [29]:
class person:
    
    def__init__(self,name1,name2):
        
        self.n1=name1
        self.n2=name2
        
    print(f"{self.name1} and ")

SyntaxError: invalid syntax (2454274346.py, line 3)

In [3]:


reverse of file .......


fin=open('sample.txt','r')

for line in fin:
    
    print(line[::-1] ,end=" ")
    
fin.close()

SyntaxError: invalid syntax (3774619893.py, line 1)

In [ ]:
import pickle